body {
    margin: 0;
}

#logo img {
    width: 120px;
    margin-left: 20px;
    margin-top: 20px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 150px;
    margin-right: 10em;
}

nav a {
    font-size: 35px;
}

#purp {
    color: #5837E2;
}

.menu-link {
    color: lightgreen;
    text-decoration: none
}

.menu-link:hover {
    color: #5837E2;
}

#cachorros {
    position: absolute;
    top: 13em;
    left: 0em;
    width: 900px;
    animation: cachorros 2s ease-out;

}

@keyframes cachorros {
    0% {
        transform: translateX(50px);
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#text {
    padding: 20px;
    margin: none;
    position: absolute;
    top: 13em;
    left: 56em;
    width: 960px;
    height: 660px;
    background: #29C5E5;
    animation: txt 1.7s ease-out;

}

@keyframes txt {
    0% {
        opacity: 0%;
    }

    80% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


h1 {
    position: absolute;
    top: 60px;
    left: 29px;
    margin: 0;
    color: #5837E2;
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    animation: h1 2s ease-out;

}

@keyframes h1 {
    0% {
        transform: translateX(60px);
        opacity: 0%;
    }

    60% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}



h2 {
    position: absolute;
    top: 100px;
    font-size: 100px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin: 0;
    color: #5837E2;
    animation: h2 2.5s ease-out;

}

@keyframes h2 {
    0% {
        transform: translateX(60px);
        opacity: 0%;
    }

    60% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


#text p {
    position: absolute;
    top: 6em;
    left: 29px;
    font-family: "Open-sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-align: left;
    padding: 20px 0;
    color: #5837E2;
    width: 550px;
    margin: 0;
    animation: p 3s;

}

@keyframes p {
    0% {
        opacity: 0%;
    }

    80% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#text ul p {
    position: absolute;
    top: 52em;
    left: 60em;
    font-size: 12px;
    color: #5837E2;
}

.menu-contacto {
    position: absolute;
    top: 58em;
    display: inline-block;
    background-color: #29C5E5;

}

#info {
    padding: 0;
}


#info p {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5em;
    margin-right: 8em;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #5837E2;
}

#img {
    position: absolute;
    left: 95em;
    top: 59em;

}

#img img {
    display: inline-block;
    margin-left: 30px;
    height: 40px;

}